doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        block content
        // Wrapper
        #wrapper
          .container-fluid
            .navbar
              ul
                li <a href="/">Home </a> |
                li <a href="/newrecipe"> Add New Recipe </a>
            // RECIPE LIST
            .row
              .col-md-4
                h2 Recipe List
                #recipeList

                    table
                        thead
                            th Select
                            th Recipe
                            th Cuisine
                            th Delete?
                        tbody
                // /RECIPE LIST

              // RECIPE DETAILS
              .col-md-4
                #recipeinfo
                    h2 Recipe Details
                    p
                      strong Name
                        p <span id='recipeName'></span>
                      br

                    // /RECIPE INFO
              // GROCERY LIST
              .col-md-4
                #grocery-list
                  h2 Grocery List
                  p
                  strong Meats
                  p <span id='groceryMeats'></span>
                  br
                  strong Veggies
                  p <span id='groceryVeggies'></span>
                  br
                  strong Spices
                  p <span id='grocerySpices'></span>
                  br
                  strong Condiments
                  p <span id='groceryCondiments'></span>
                  br
                  strong Dry Goods
                  p <span id='groceryDry'></span>
                  br

              // /GROCERY LIST

        // /WRAPPER
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/public/javascripts/global.js')
