doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/public/stylesheets/style.css')
    body
        h1= title
        block content
        // Wrapper
        #wrapper
        // Recipe Details
        #recipeinfo
          h2 Recipe Details
          p
            strong Name:
              <span id='recipeName'></span>
            br
            strong Cuisine:
              <span id='recipeCuisine'></span>
            br
          // /RECIPE INFO

        // RECIPE LIST
        h2 Recipe List
        #recipeList
            table
                thead
                    th Recipe
                    th Cuisine
                    th Delete?
                tbody
        // /RECIPE LIST

        // ADD RECIPE
        h2 Add Recipe
        #addUser
            fieldset
                input#inputName(type='text', placeholder='Recipe Name')
                input#inputCuisine(type='text', placeholder='Cuisine')
                br
                button#btnAddRecipe Add Recipe
        // /ADD RECIPE

        // /WRAPPER
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/public/javascripts/global.js')
