body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:50px;
	position:relative;
}

#recipeList {
	margin:0 0 10px 0;
}
	#recipeList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#recipeList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#recipeList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#recipeList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#recipeInfo {
	width:250px;
	position:relative;
	top:0; left:0;
}
	#recipeInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}

#newRecipeList {
  margin: 20px;
}

#newRecipeList table {
  border-collapse:separate;
  border-spacing:1px;
  background:#CCC;
}
  #newRecipeList table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
  }
  #newRecipeList table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
  }
    #newRecipeList table td {
      background:#FFF;
      padding:5px 10px;
      text-align:center;
    }

#addRecipePanel {
  margin: 20px;
}

.navbar {
  padding: 15px;

}
  .navbar li {
    display: inline;
  }

#editRecipePanel {
  display: none;
}

#cuisine-select{

}

.textbox {
  width: 304px;
  height: 75px;
}

@media print {
  #print-menu-plan{
    column-count: 3;
  }
  #print-grocery-list{
    column-count: 3;
  }
}
